{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<!-- we can also use {%crispy form%} just only one tag that do all work -->

<style>
    .fo {
  max-width: 600px;
  margin: 100px auto 0 auto; /* Adds margin to the top to push the form below the navbar */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.fo {
  padding-top: 100px; /* Adjust this value according to your navbar's height */
}
.fo {
  z-index: 1; /* Lower z-index to keep the form underneath the navbar */
}

/* Adjusted Form Fields for Better Layout */
    .fo .form-group {
    margin-bottom: 20px;
    }
</style>
<div class="container">
    <div class="fo">
        <form method="POST" action="{% url "register" %}">
            {% csrf_token %}
            <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.father_name|as_crispy_field }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                    {{ form.mother_name|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.cnic|as_crispy_field }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                    {{ form.email|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.phone_number|as_crispy_field }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                    {{ form.gender|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.date_of_birth|as_crispy_field }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                    {{ form.account_type|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.bank_name|as_crispy_field }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    {{ form.profession|as_crispy_field }}
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <input type="submit" value="Create" class="btn btn-primary btn-md text-white">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}